:root {
    --square-size: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: fit-content;
}

body > div {
    display: grid;
    grid-template: repeat(3, var(--square-size)) / repeat(3, var(--square-size));
    gap: 5px;
}

body > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    border: black solid 3px;
    box-shadow: black 1px 1px, 2px 2px, 3px 3px;
    
    cursor: pointer;
    
    transition: ease-out 0.3s;
}

body > div > button:hover {
    background-color: #cfcfcf;
}